[submodule "reactjs/b7web-tips-calculator"]
	path = reactjs/b7web-tips-calculator
	url = git@github.com:nathaliaveneziano/b7web-tips-calculator.git
[submodule "reactjs/b7web-account-history"]
	path = reactjs/b7web-account-history
	url = git@github.com:nathaliaveneziano/b7web-account-history.git
