body {
  background-color: #0f0;
}

.main-menu {
  background-color: #f00;
}

.main-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.main-menu a {
  color: #fff;
}

.site {
  display: flex;
}

.container {
  width: 70%;
}

.sidebar {
  width: 30%;
}

.widget-title {
  color: #00f;
}

.post {
  background-color: #fff;
  border-bottom: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}

body:is(.home) .post {
  display: flex;
}

.post .post-thumbnail {
  margin-right: 20px;
}

.pagination {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}

.comments:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.comment-avatar {
  float: left;
  margin-right: 10px;
}

footer {
  margin-top: 50px;
}
