body {
  margin: 0;
}

.texto {
  width: 300px;
  height: 1000px;
  background-color: #eeeeee;
  margin: auto;
  margin-top: 20px;
  padding-top: 20px;

  color: #ff0000;
  font-size: 20px;
  font-family: Helvetica, Verdana, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.flutuante {
  /* absolute = sobreposta as outras */
  /* fixed = fixo na posicao */
  height: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #ff0000;
  color: #eeeeee;
}
